<meta http-equiv="refresh" content="2">
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<style>


body {background-color: #{{backgroundColour}};}
.container{
    display:grid; 
    grid-template-columns: [first] 1fr [line2] 1fr  [line3] 1fr;
    background-color: #a2d2ff;
    padding: 30px;
    gap:10px;
  }
  .grid-item {
  text-align:center;
  border: 1px solid rgba(17, 17, 17,0.8);
  padding: 18px;
  font-size: 28px;
  background-color: rgba(255, 255, 255, 0.8);
  }

.gauge {
    position: relative;
    border-radius: 50%/100% 100% 0 0;
    background-color: var(--color, #a22);
    overflow: hidden;
}
.gauge:before{
    content: "";
    display: block;
    padding-top: 50%;   /* ratio of 2:1*/
}
.gauge .chart {
  overflow: hidden;
}
.gauge .mask {
  position: absolute;
  left: 20%;
  right: 20%;
  bottom: 0;
  top: 40%;
  background-color: #fff;
  border-radius: 50%/100% 100% 0 0;
}

.gauge .percentage {
    position:  absolute;
    top: -1px;
    left: -1px;
    bottom: 0;
    right: -1px;
    background-color: var(--background, #aaa);
    transform:rotate(var(--rotation)); 
    transform-origin: bottom center; 
    transition-duration: 600;
}
.gauge:hover {
  --rotation: 100deg;
}
.gauge .value {
  position:absolute; bottom:0%; left:0;   
  width:100%; 
  text-align: center;
}

.gauge .min {
  position:absolute; 
  bottom:0; left:5%;   
}
.gauge .max {
  position:absolute; 
  bottom:0; right:5%;   
 }

</style>

<html>
  <center>
  <h1> UPS Monitor</h1> 
  <h2>Last update: {{curTime}}</h2>
  </center>
<div class="container">
  
 
  <div class="grid-item">
    <h2>Input Voltage</h2>
    <center>
      <div class="gauge" style="width: 200px; --rotation:{{involtDeg}}deg; --color:#5cb85c; --background:#e9ecef;">
        <div class="percentage"></div>
        <div class="mask"></div>
        <span class="value">{{involtVal}}</span>

      </div>
      <center>
  </div>
  <div class="grid-item">
    <h2>Output Voltage</h2>
    <center>
      <div class="gauge" style="width: 200px; --rotation:{{outvoltDeg}}deg; --color:#5cb85c; --background:#e9ecef;">
        <div class="percentage"></div>
        <div class="mask"></div>
        <span class="value">{{outvoltVal}}</span>

      </div>
      <center>
  </div>
<div class="grid-item">
    <h2>Hertz</h2>
    <center>
      <div class="gauge" style="width: 200px; --rotation:{{hertzDeg}}deg; --color:#5cb85c; --background:#e9ecef;">
        <div class="percentage"></div>
        <div class="mask"></div>
        <span class="value">{{hertzVal}}</span>

      </div>
      <center>
  </div>
<div class="grid-item">
    <h2>Battery Voltage</h2>
    <center>
      <div class="gauge" style="width: 200px; --rotation:{{batvoltDeg}}deg; --color:#5cb85c; --background:#e9ecef;">
        <div class="percentage"></div>
        <div class="mask"></div>
        <span class="value">{{batvoltVal}}</span>

      </div>
      <center>
  </div>
<div class="grid-item">
    <h2>Battery Temp</h2>
    <center>
      <div class="gauge" style="width: 200px; --rotation:{{battempDeg}}deg; --color:#5cb85c; --background:#e9ecef;">
        <div class="percentage"></div>
        <div class="mask"></div>
        <span class="value">{{battempVal}}</span>

      </div>
      <center>
  </div>
<div class="grid-item">
    <h2>Placeholder</h2>
    <center>
      <div class="gauge" style="width: 200px; --rotation:83deg; --color:#5cb85c; --background:#e9ecef;">
        <div class="percentage"></div>
        <div class="mask"></div>
        <span class="value">46%</span>

      </div>
      <center>
  </div>
</div>
  </html>
